# Python

## _Un langage simple et épuré_

In [ ]:
print('Hello World!')

## Où  écrire le code ?

Il est possible de créer une fonction `main()`, mais rien ne l'appellera si on ne le fait pas nous-même !

In [ ]:
def main():
    i = 0
    print('Hello world!')
    print('i vaut :', i)

main() # appel de la fonction main()

# Du C au Python...

- Pas d'accolades **`{}`** , c'est l'**indentation** et **`:`** qui délimitent les **blocs d'instructions**.
- Pas de point-virgule **`;`**, **une instruction par ligne**.
- Parenthèses **`()`** facultatives, à utiliser pour les fonctions et les priorisations dans les calculs uniquement.

In [ ]:
i = 0
while i <= 100:
    i = (i + 2) * 3
    print('i = ', i)
print('Valeur finale de i : ', i)  # Notez l'absence de %d

# Commentaires

Tout ce qui se trouve à droite d'un **croisillon** (**`#`**) est interprété comme un **commentaire**.

In [ ]:
# Cette ligne est un commentaire
i = 0
while i <= 5: # Cette partie en gris, aussi
  # Ceci est un commentaire sur
  # deux lignes, dans un bloc
  i = i + 1
  print('i = ', i)
  # Ce print n'est pas dans le bloc de la boucle while
print('Valeur finale de i : ', i)

## Variables 

Pas de mot-clé pour déclarer une variable, on l'**initialise** directement :

In [ ]:
mon_entier = 42
mon_float = 42.0
mon_bool = True # or False
mon_str = 'Introduction Python'
mon_array = [mon_entier, mon_float, mon_bool, mon_str]

print('Entier : ', mon_entier, ', Float : ', mon_float, ', Bool : ', mon_bool)
print(mon_array)

## Suppression

Il est possible de supprimer une variable :

In [ ]:
i = 0
print(i)
del i # i n'existe plus
print(i)

## Affectation `=`

In [ ]:
ma_variable = 1 + 41  # Affectation individuelle

a = b = c = 0         # Affectation multiple de la même valeur

x, y, z = 1, 2, 3     # Affectation multiple

a, b = b, a           # Échange de valeurs

x += 1                # Incrémentation

## Type

On peut connaitre le type d'une variable (choisi par l'interpréteur) avec **`type()`**.

In [ ]:
x = 'Hello \n world'
print(type(x)) 
x = 42.0
print(type(x)) 
x = 42
print(type(x))

# Les types de base

- **`int`** : entier

In [ ]:
mon_entier = -5
mon_entier = 42
mon_entier = 0     # Zero
mon_entier = 0b010 # Binaire
mon_entier = 0xF3  # Hexadécimal

print(mon_entier)

- **`float`** : flottant

In [ ]:
mon_float = -3.12
mon_float = 42.5
mon_float = 0.0     # Zero
mon_float = -4.2e-5 # x10^-5

print(mon_float)

- **`str`** : chaîne de caractères

In [ ]:
ma_str = 'a'
ma_str = "b"
ma_str = 'C\'est pas mal...'           # guillemets simples (quotes)
ma_str = "Introduction au \"Python\""  # guillemets doubles
ma_str = 'Introduction\nau\nPython'    # avec des sauts de ligne (\n)

print(ma_str)

- **`bool`** : booléen

In [ ]:
mon_bool = True
mon_bool = False
mon_bool = 10 > 6 # True

# Les types de base
## Valeurs booléennes

Tout est considéré comme **vrai**, sauf :

In [ ]:
print(False == True)
print(None == True)
print(None == False)
print(0.0 == True)
print(0.0 == False)
print(1.0 == True)

# Les types de base
## Conversion **(cast)**

In [ ]:
print(int(16.7))    # 16
print(str(42))      # '42'
print(float(23))    # 23.0
print(bool(x))      # False si x est nul, est un conteneur vide, ou vaut None. Sinon True

In [ ]:
print(chr(65) )    # 'A' (ASCII)
print(ord('A'))    #  65 (ASCII)

# Chaînes de caractères

- Affectation :

In [ ]:
str1 = 'Hello'   # str1 vaut 'Hello'
print(str1)
str1 = "Bonjour" # str1 vaut maintenant 'Bonjour'
print(str1)

- Concaténation :

In [ ]:
str1 = 'Bonjour'
print(str1)
str2 = str1 + ' Toto !' # str2 vaut maintenant 'Bonjour Toto !'
print(str2)

- Fonctions :

In [ ]:
str2 = str2.replace('Toto', 'Tata') # remplace 'Toto' par 'Tata' dans 'Bonjour Toto !'
print(str2)

Comme en C, les chaînes de caractères sont des tableaux (des "**listes**") !
*Mais il n'y a pas de notion de pointeurs...*

In [ ]:
s = 'Bonjour'
print(s[0])
print(s[1])
print(s[len(s)-1]) # len() retourne la taille d'une chaîne de caractères
print(s[-2]) # -1 : dernière case, -2 : avant dernière case...

Il est possible d'utiliser `"""` pour créer une chaîne de caractères de plusieurs lignes.

In [ ]:
str1 = """Chaîne codée sur plusieurs ligne.
Avec un retour à la ligne."""

print(str1)


# Affichage console

La fonction `print()` permet d'effectuer un affichage dans la console. 

Ses paramètres, séparés par une virgule, sont concaténés lors de l'affichage. 
Ils peuvent être : une valeur, une variable, un appel de fonction...

In [ ]:
firstname = 'Toto'
print('Bonjour', firstname)

Des espaces sont automatiquement ajoutés entre chaque paramètre affiché. Pour annuler ce comportement, il est possible de choisir un séparateur en ajoutant en paramètre.

In [ ]:
print('age:', 20, sep='~')

# Saisie clavier

La fonction `input()` permet d'effectuer une saisie au clavier.

Elle lit une **chaîne de caractères**. Pour lire un entier ou un réel, il faut effectuer un cast :

In [ ]:

age = input('Quel âge avez-vous ? (sans cast)')
print(age*3)
age = int(input('Quel âge avez-vous ? (avec cast)'))
print(age*3)

# Conteneurs

## Séquences ordonnées

- Accès par indice
- Valeurs répétables (doublons possibles)

### Listes

In [ ]:
ma_liste = [0, 1, 2, 3] 
print(ma_liste)
print(type(ma_liste))

### Tuples

In [ ]:
mon_tuple  = (0, 1, 2, 3) 
print(mon_tuple)
print(type(mon_tuple))


### Listes `[]`

Collection de valeurs :white_check_mark: **modifiables**, de **type semblable ou non**. 
- Déclarée par une série de valeurs séparées par une **virgule** et entourées de **crochets**.

In [ ]:
ma_liste = []                                 # Liste vide
ma_liste = [0, 1, 2, 3]                       # Valeurs du même type
ma_liste = [0, False, 'Un', 3.0, None] # Valeurs de types différents

print(ma_liste)

### Tuples `()`

Collection de valeurs :no_entry_sign: **non modifiables**, de **type semblable ou non**.

- Déclaré par une série de valeurs séparées par une **virgule** et optionnellement entourés de **parenthèses**.

In [ ]:
mon_tuple =  ()       # Tuple vide
mon_tuple =  (1.56,)  # Tuple d'un élément : doit finir par une virgule
mon_tuple =  0, False, 'Un', 3.0, None               
mon_tuple =  (0, False, 'Un', 3.0, None)      

print(mon_tuple)

- Accès par **indice** (**positif** ou **négatif**)
`a[0]` &#8594; première valeur et `a[-1]` &#8594; dernière valeur.

In [ ]:
ma_liste_mixte   = [0, False, 'Un', 3.0, None]
mon_tuple_mixte  = (0, False, 'Un', 3.0, None)
# indice positif :  0    1     2     3    4
# indice négatif : -5   -4    -3    -2   -1
print('Liste[2]:', ma_liste_mixte[2])
print('Tuple[-2]:', mon_tuple_mixte[-2])

- Accès à des **sous-séquences** (par tranches) : `[`**`tranche début`**`:`**`tranche fin`**`:`**`pas`**`]`

In [ ]:
ma_liste           = [  10 ,  20 ,  30 ,  40 ,  50 ] 
# indice positif:    |  0  |  1  |  2  |  3  |  4  |
# indice négatif:    | -5  | -4  | -3  | -2  | -1  |
# tranche positive:  0  |  1  |  2  |  3  |  4  |  5
# tranche négative: -5  | -4  | -3  | -2  | -1  | 

print(ma_liste[0:3:1])  # ou [:3]
print(ma_liste[0:5:2])  # ou [::2]
print(ma_liste[::-1])   # inversion de liste

| Python                | Description                         |
|-----------------------|-------------------------------------|
| `ma_liste[3:]`        | Tous, sauf les trois premiers       |
| `ma_liste[:3]`        | Les trois premiers                  |
| `ma_liste[:-2]`       | Tous, sauf les deux derniers        |
| `ma_liste[1:-1]`      | Du deuxième à l'avant dernier       |
| `ma_liste[::3]`       | Tous, par pas de 3 *(de 3 en 3)*    |
| `ma_liste[::-1]`      | Tous, du dernier au premier         |
| `ma_liste[::-2]`      | Du dernier au premier, par pas de 2 |

In [ ]:
print(ma_liste[3:]  )
print(ma_liste[:3]  )
print(ma_liste[:-2] )
print(ma_liste[1:-1])
print(ma_liste[::3] )
print(ma_liste[::-1])
print(ma_liste[::-2])

# Operations courantes sur séquences

```python
a = [1, 2, 3]
b = [4, 5, 6]
```

| Opération              | Python            | Résultat           |
|------------------------|:------------------|--------------------|
| Taille                 | `len(a)`          | 3                  |
| Minimum                | `min(a)`          | 1                  |
| Maximum                | `max(a)`          | 3                  |
| Somme                  | `sum(a)`          | 6                  |
| Tri                    | `sorted(a)`       | [1, 2, 3]          |
| Multiplication         | `a * 2`           | [1, 2, 3, 1, 2, 3] |
| Suppression par indice | `del a[1]`        | [1, 3]             |
| Suppression par valeur | `a.remove(2)`     | [1, 3]             |
| Ajout à la fin         | `a.append(4)`     | [1, 2, 3, 4]       |
| Ajout en milieu (index 1) | `a.insert(1, 5)`  | [1, 5, 2, 3]       |
| Pioche                 | `a.pop()`         | [1, 2] et retourne 3            |
| Concaténation         | `a + b`         | [1, 2, 3, 4, 5, 6] |
| Concaténation         | `a.extend(b)`   | [1, 2, 3, 4, 5, 6] |

In [ ]:
a = [1, 2, 3]

# Operations
print(len(a)   )
print(min(a)   )  
print(max(a)   )  
print(sum(a)   )  # uniquement int 
print(sorted(a))

In [ ]:
a = [1, 2, 3]

# Supression et ajout
del a[1]
print(a)
a = [1, 2, 3]
a.remove(2) 
print(a)  
a.append(4)
print(a)  
a.insert(1, 5)
print(a)
print(a.pop())

In [ ]:
a = [1, 2, 3]
b = [4, 5, 6]

# Concantenation 
print(a*5)
print(a+b)
a.extend(b)
print(a)

# Conteneurs clés

- Sans ordre
- Accès par clé
- Clés uniques

## Dictionnaires

```python
mon_dict = {1: 'one', 'password': 'azerty', 12.4: 50}
```

## Ensembles
```python
mon_set = {'Toto', 'Tata', 12, 2.65}
```

In [ ]:
mon_dict = {1: 'one', 'password': 'azerty', 12.4: 50}
mon_set = {'Toto', 'Tata', 12, 2.65}

print(mon_dict)
print(mon_set)

## Dictionnaires `{}`

Couples **clé**/**valeur**. 
- Déclaré par une série de **`clé`**`:`**`valeur`** séparées par des virgules, entre **accolades**.

In [ ]:
mon_dict = {} # dictionnaire vide
mon_dict = dict(a=21, b='toto')  
mon_dict = {1: 'one', 'password': 'azerty', 12.4: 50}


p = 'password'
# Accès
print(mon_dict[p])
# Clés
print(list(mon_dict.keys()))

## Ensembles `{}`

Ensemble de **clés** uniques. 

- Déclaré par une série de **`clé`** uniques séparées par des virgules, entre **accolades**.

In [ ]:
mon_set = set() # ensemble vide
mon_set = {5, 2, 4, 6}
mon_set = {'Toto', 'Tata', 12, 2.65, 12} # les deux 12 seront unifiés


print(mon_set)
print('Toto' in mon_set)

Ci-dessus, le 12 ne sera bien présent qu'une seule fois dans l'ensemble.

## Conversions

In [ ]:
print(list("abc"))                       # ['a', 'b', 'c']

print(dict(((3, "trois"), (1, "un"))))     # {1: 'un', 3: 'trois'}

print(set(["un", "deux"]))               # {'un', 'deux'}

# Tests et boucles

## Opérateurs logiques

| Opérateur                | Python        |
|--------------------------|---------------|
| Conjonction              | `and`         |
| Disjonction              | `or`          |
| Négation                 | `not`         |

In [ ]:
i = int(input('Saisissez un entier'))
if i >= 0 and not i > 10:
    print('entre 0 et 10')

:memo: En Python, le partage d'opérande entre opérateurs est possible :

In [ ]:
i = 10
if 0 <= i < 11:
    print('entre 0 et 10')

## Opérateurs de comparaison

| Opérateur              | Python |
|------------------------|--------|
| Egalité                | `==`   |
| Supériorité stricte    | `>`    |
| Supériorité            | `>=`   |
| Infériorité stricte    | `<`    |
| Infériorité            | `<=`   |

## Test `if` 

- `if`**`<condition logique>`**`:`
- `elif`**`<condition logique>`**`:`
- `else`**`:`**

In [ ]:
n = 5
if n > 0:
    print('Positif')
elif n < 0:
    print('Negatif')        
else:
    print('Zero')

# Boucles

Comme en C, il est possible dans une boucle d'utiliser :
- `break` : pour sortir immédiatement de la boucle.
- `continue` : pour passer à l'itération suivante.

## Boucle `while` 

`while`**`<condition logique>`**`:`

In [ ]:
i = 0
while i < 10:
    print(i)
    i = i + 1

Il n'existe pas de boucle `do while` en Python.

## Boucle `for`

`for`**`<itérateur>`**` in `**`<séquence>`**`:`

- Parcours de valeurs

In [ ]:
ma_liste = [23, 45, 12, 65]

for item in ma_liste:
    print(item)

- Parcours de valeurs (chaîne de caractères)

In [ ]:
s = 'ECE'
for c in s:
    print(c)

## `Range` Séquence d'entiers

Fonction native de Python qui retourne une séquence des entiers compris dans une intervalle : `range(`**`début inclus (optionel)`**`, `**`fin exclue`**`, `**`pas (optionel)`**`)`

| Intervalle                | Python              | Résultat             |
|---------------------------|---------------------|----------------------|
| $[0, 5[$                  | `range(5)`          | `0 1 2 3 4`          |
| $[3, 10[$                 | `range(3, 10)`      | `3 4 5 6 7 8 9`      |
| $[4, 21[$ par pas de $3$  | `range(4, 12, 3)`   | `4 7 10 13 16 19`    |
| $]5, 20]$ par pas de $-5$ | `range(20, 5, -5)`  | `20 15 10`           |

In [ ]:
print(range(5))
print(type(range(5)))

- Création de listes :

In [ ]:
ma_liste = list(range(1, 10))       # [1, 2, 3, 4, 5, 6, 7, 8, 9]
print(ma_liste)

- Itération de boucle `for` :

In [ ]:
for i in range(5):
    print(i)                        # 0 1 2 3 4

In [ ]:
for i in range(1, 10, 2):
  print(i)                        # 1 3 5 7 9

In [ ]:
ma_liste = [10, 12, 13, 15, 42, 74, 12]
for i in range(len(ma_liste)):
  print(ma_liste[i])                     # 10 12 13 15 42 74 12

## Parcours par indice avec `range(len())`

In [ ]:
ma_liste = [23, 45, 12, 65]

for i in range(len(ma_liste)):
    print('La case', i, 'contient', ma_liste[i])

## Parcours par indice et valeur

In [ ]:
ma_liste = [23, 45, 12, 65]

for i, item in enumerate(ma_liste):
    print('La case', i, 'contient', item)

`enumerate()` retourne une liste de tuples : `[(0, 23), (1, 45), (2, 12), (3, 65)]`.

# Fonctions

Les fonctions se définissent avec le mot-clé **`def`** :

In [ ]:
# Definition
def nom_de_la_fonction(nom, age):
    print(nom, 'a', age, 'ans')

# Appel
nom_de_la_fonction('Toto', 19)

- C'est à nous de vérifier le type de ce que l'on reçoit en paramètres
- Il est possible de rendre les derniers paramètres facultatifs en leur attribuant une valeur par défaut :

In [ ]:
def maFunc(a, b=0, c='Sans nom'):
  print(a, b, c)

maFunc(1)

Toutes les données sont passées par **valeur**, sauf les listes.

Pour retourner un ou plusieurs résultat(s), nous utilisons l'instruction `return`. 

- Un seul résultat

In [ ]:
def calculer_aire(lon, lar):
    return lon * lar

print(calculer_aire(10, 6))

- Plusieurs résultat, grâce aux **tuples**

In [ ]:
from math import pi

def calculer_aire_et_perimetre_cercle(rayon):
    a = pi * rayon**2
    p = 2 * pi * rayon
    return a, p # on retourne un tuple : (a, p)

aire, perimetre = calculer_aire_et_perimetre_cercle(5)

print('Aire : ', round(aire, 2), ' cm^2.\nPérimètre : ', round(perimetre, 2), ' cm', sep='')

# Bibliothèques

- Les bibliothèques offrent de nombreuses fonctions et variables.
- Il existe différents types de bibliothèques :
  - Bibliothèque standard (native au Python)
  - Bibliothèques personnelles (nos fichiers)
  - Bibliothèques externes
- Nous pouvons les importer dans nos scripts avec l'instruction **`import`**.

In [ ]:
import random

n = random.randint(5, 15)          # entier aléatoire entre 5 et 15
print(n)
print(random.random())             # réel aléatoire entre 0.0 et 1.0
print(random.uniform(2, 6.5))      # réel aléatoire entre 2.0 et 6.5

`import` importe tout le paquet. On accède ensuite à son contenu en écrivant son nom suivi de ce à quoi on veut accéder : `random.randint(1, 6)`

Lors de l'import, on peut créer un **alias** de nom (`as`) à ce que l'on inclue :

In [ ]:
from random import randint as ri, uniform # randint peut être appelé ri

n = ri(5, 15)           # entier entre 5 et 15
uniform(2, 6.5)         # réel entre 2.0 et 6.5

On peut également créer un alias au paquet lui-même :

In [ ]:
import random as rd

rd.random()

## Bibliothèque personnelle

Il est possible de créer son propre paquet/sa propre bibliothèque.
Il suffit alors d'effectuer un `import` en spécifiant le nom du fichier

`ece.py` :
```python
def dire_bonjour():
    print('Bonjour !')
lyon = 69007
```
`main.py` :
```python
import ece
ece.dire_bonjour()
print(ece.lyon)
```